body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
min-height: 100vh;
flex-wrap: wrap;
max-width: 1000px;

}

.container img{
    display: flex;
    width: 300;
    height: 300;
    margin: 0.5rem;
    /* width: 100%; */
    object-fit: cover;
}